<!DOCTYPE html>
<html>
<head>
    <title>De bierfabriek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div id="header">
		<nav>
		    
			<ul class="menu">
				<li><b></b><a href="/">Index</a></li>
				<li class="active"><b></b><a href="/drink/save">Drank toevoegen</a></li>
				<li><b></b><a href="/neigh/save">Buurt toevoegen</a></li>
				
			</ul>
		</nav>
</div>
<div id="container">
<div id="tekst">
<h1>Drank</h1>
    <h2>Voeg een nieuwe drank toe</h2>
    <form action="#" th:action="@{/drink/save}" th:object="${drink}" method="post">
    	<p>Type:  <select th:field="*{drinkType}">
    	<option value="Bier">Bier</option>
  		<option value="Wijn">Wijn</option>
  		<option value="Sterke drank">Sterke drank</option>
  		<option value="Overige drank">Overige drank</option>
  		</select>
    	</p>
    	<p>Naam: <input type="text" th:field="*{drinkName}" /></p>
    	<p th:if="${#fields.hasErrors('drinkName')}" th:errors="*{drinkName}"></p>
    	
    	<p>Datum uitgave: <input type="date" th:field="*{dateFounded}" /></p>
    	<p th:if="${#fields.hasErrors('dateFounded')}" th:errors="*{dateFounded}"></p>
    	
    	<p>Beschikbaarheid:  <select th:field="*{availability}">
    	<option value="true">Beschikbaar</option>
  		<option value="false">Niet beschikbaar</option>
  		</select>
  		</p>	
  		
        <p><input type="submit" value="Toevoegen" /> <input type="reset" value="Wissen" /></p>
    </form>

</div>
</div>
<div id="footer">
Team ARIE, 2016
</div>

</body>
</html>